@tailwind base;
@tailwind components;
@tailwind utilities;


@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




button{
  background: #46daea !important;
  padding: 15px;
  color:black;
  font-weight: bold;
  transition: all;


}

button:hover{
  background: #43b0ba;
}